DATABASE_URL="postgresql://user:pass@host:6543/postgres"
RESEND_KEY="somekey"
NEXT_PUBLIC_SUPABASE_URL=https://supaproj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=key


# use .env.local for development and .env.production for production